<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head" />

<body>

	<nav th:replace="fragments/nav" />

	<div class="table-responsive">
		<table class="table table-hover" th:fragment="tablePeticiones"
			id="tablePeticiones">
			<thead>
				<tr>
					<th class="col-md-1">Id</th>
					<th th:text="#{list.name}"></th>
					<th th:text="#{list.mail}"></th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${peticiones}">
					<td th:text="${p.emisor.id}">1</td>
					<td th:text="${p.emisor.name}">Usuario 1</td>
					<td th:text="${p.emisor.email}">ejemplo@ejemplo.com</td>
					<td><a th:href="${'user/acceptRequest/' + p.emisor.id + '/' + p.id }"
						th:text="#{Button.confirmRequest}"></a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<footer th:replace="fragments/pagination" />

	<footer th:replace="fragments/footer" />

</body>
</html>