<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{publication.message}"></h2>
		<form class="form-horizontal" method="post" action="/login">
			<div class="form-group">
				<label class="control-label col-sm-2" for="title" th:text="#{publication.title}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="title"
						th:placeholder="#{example.publication.title}" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="description" th:text="#{publication.description}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="description"
						th:placeholder="#{example.publication.description}" required="true" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" th:text="#{Button.publication}"></button>
				</div>
			</div>
			<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token}" />
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>